@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&family=Outfit&family=Rampart+One&display=swap");
/* adding fonts for google font  */

body {
  background-position: center;
  background-size: cover;
  font-family: 'Outfit', sans-serif;
}

.heading{
    width: 100%;
    font-size: 23px;
    font-family: 'Lobster', cursive;
}

label{
    color: blue;
    margin: 5px;
}

input[type="text"]
{
    padding: 5px;
    border: none;
    color: blue;
}

canvas {
    border-radius: 25px;
    box-sizing: 10px 10px 42px rgb(0, 238, 255);
    animation-name: canavgo;
    animation-duration: 2ms;
    animation-iteration-count: infinite;
    margin-top: 250px;
}

@keyframes canavgo{
    from{box-shadow: 10px 10px 180px rgb(0, 140, 255);}
    to{box-shadow: 10px 10px 42px rgb(0, 238, 255);}
}
